* {
  font-family: "Roboto", sans-serif;
  // font-family: "Noto Sans HK", sans-serif;
}

$primary-color: #ea2329;
$secondary-color: #22262a;
$light-font-color: #ffffff;

$secondary-bg-color: #eeeeee;

$primary-font-color: #111;
$secondary-font-color: #fff;
$tertiary-font-color: #999999;
