footer {
  height: 20vh;
  background: $secondary-color;
  color: #fff;

  .footer-credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    &-logo {
      padding: 1rem;
      height: 100px;
      width: auto;
    }
  }
}

//media

@media screen and (max-width: 768px) {
  footer {
    height: 50vh;
    background: $secondary-color;
    color: #fff;
    padding-top: 0.5rem;
    display: grid;
    grid-template-rows: 70% 20%;
    justify-content: center;
    align-items: center;

    .footer-info {
      text-align: center;

      &-item {
        padding: 0.5rem;
        font-size: 1rem;
      }

      &-icon {
        height: 35px;
        width: auto;
        padding-top: 0.5rem;
      }
    }

    .footer-credits {
      text-align: center;
      &-logo {
        height: 50px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
}

@media screen and (min-width: 1171px) {
  footer {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }

  .footer-info {
    &-item {
      padding: 1rem;
    }

    &-icon {
      height: 50px;
      width: auto;
      padding-left: 1rem;
    }
  }
}
