.carousel {
  margin: 10rem 15%;

  &-heading {
    margin: 2rem auto;
    width: 95%;

    &-title {
      letter-spacing: 0.15rem;
      text-transform: uppercase;
      padding-left: 1rem;
    }

    &-line {
      margin: 10px auto;
      height: 3px;
      width: 100%;
      background: linear-gradient(
        to right,
        rgba($primary-color, 1),
        $primary-color,
        $secondary-color,
        rgba($secondary-color, 1)
      );
    }
  }
  .link {
    text-decoration: none;
  }
  .carousel-item {
    img {
      height: 290px;
      width: auto;
      margin: 0 auto;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
      }
    }

    h4 {
      color: black;
      text-align: center;
      font-size: 0.9rem;
      padding-top: 0.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

//slick-carousel
.slick-prev,
.slick-next {
  cursor: pointer;

  color: transparent;

  &:before {
    font-size: 3rem;
    line-height: 0;
    color: $primary-color;

    opacity: 0.9;
  }
}

.slick-prev {
  left: -50px;
}

@media screen and (max-width: 600px) {
  .carousel {
    margin: 3rem 15%;

    &-heading {
      &-title {
        font-size: 1.1rem;
      }
    }

    .carousel-item {
      img {
        height: 140px;
        width: auto;
      }
    }
  }

  .slick-prev,
  .slick-next {
    &:before {
      font-size: 2rem;
    }
  }

  .slick-prev {
    left: -37px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1170px) {
  .carousel {
    &-heading {
      &-title {
        font-size: 1.2rem;
      }
    }

    .carousel-item {
      img {
        height: 190px;
        width: auto;
      }
    }
  }
}
